.m-ld-header{display: flex;height: 2.5rem;line-height: 2.5rem;color: #fff;position: absolute;left: 0;top: 0;right: 0;z-index: 2;}
    .m-ld-header .l .iconfont{font-size: 1rem;}
    .m-ld-header .r .iconfont{font-size: 1.2rem;}
    .m-ld-header .l, .m-ld-header .r{width: 2.4rem;text-align: center;}
    .m-ld-header .c{flex: 1;padding-left: .5rem;font-size: .8rem;}
