.m-viewCtrl{position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 997;}
    .m-viewCtrl .bg, .m-viewCtrl .box{position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
    .m-viewCtrl .bg{z-index: 1;}
    .m-viewCtrl .box{z-index: 2;}
    .m-viewCtrl .bg img{display: block;width: 140%;height: 140%;margin: -20%;filter: blur(20px);}
    .m-viewCtrl .bg::after{content: '';position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: rgba(110, 110, 110, .75);}

.m-viewCtrl_header, .m-viewCtrl_warp, .m-viewCtrl_footer{position: absolute;left: 0;right: 0;}

.m-viewCtrl_header{display: flex;height: 2.5rem;top: 0;}
    .m-viewCtrl_header .l{width: 3rem;text-align: center;line-height: 2.5rem;color: #fff;}
    .m-viewCtrl_header .l .iconfont{font-size: 1.2rem;}
    .m-viewCtrl_header .r{flex: 1;padding: .25rem 0;overflow: hidden;}
    .m-viewCtrl_header .r p{color: #fff;font-size: .8rem;line-height: 1rem;}
    .m-viewCtrl_header .r span{font-size: .6rem;color: #C1BFAA;}

.m-viewCtrl_warp{top: 2.5rem;bottom: 4rem;}


.m-viewCtrl_footer{display: flex;height: 4rem;bottom: 0;background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1) 60%, rgba(0, 0, 0, 0));}
    .m-viewCtrl_footer .l, .m-viewCtrl_footer .c{line-height: 4rem;}
    .m-viewCtrl_footer .l{width: 3.8rem;text-align: center;}
    .m-viewCtrl_footer .c{display: flex;flex: 1;}
    .m-viewCtrl_footer .c em{flex: 1;text-align: center;}
    .m-viewCtrl_footer .l .iconfont{font-size: 1.6rem;color: #C1BFAA;}
    .m-viewCtrl_footer .c .iconfont{font-size: 1.8rem;color: #E8E8DE;}
    .m-viewCtrl_footer .c em:nth-child(2) .iconfont{font-size: 2.2rem;}
